{
  "$schema": "https://swc.rs/schema.json",
  "module": {
    "type": "es6"
  },
  "jsc": {
    "target": "es2022",
    "baseUrl": "src/",
    "parser": {
      "syntax": "typescript"
    },
    "preserveAllComments": true,
    "minify": {
      "inlineSourcesContent": false
    }
  }
}
